<div class="container">
  <h2>Add Product</h2>
  <form action="/admin/addproduct" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="productName">Product Name:</label>
      <input
        type="text"
        class="form-control"
        id="productName"
        name="productName"
        required
      />
    </div>
    <div class="form-group">
      <label for="productBrand">Product Brand:</label>
      <input
        type="text"
        class="form-control"
        id="productBrand"
        name="productBrand"
        required
      />
    </div>
    <div class="form-group">
      <label for="category">Category:</label>
      <select class="form-control" id="category" name="category" required>
        <option value="">Select Category</option>
        {{#each category}}
          <option value="{{categoryName}}">{{categoryName}}</option>
        {{/each}}
      </select>
    </div>

    {{! <div class="form-group">
      <label for="subCategory">Sub Category:</label>
      <select class="form-control" id="subCategory" name="subCategory" required>
        <option value="">Select Sub Category</option>
        <!-- This section will be dynamically populated -->
      </select>
    </div> }}
    <div class="form-group">
      <label for="quantity">Quantity:</label>
      <input
        type="number"
        class="form-control"
        id="quantity"
        name="quantity"
        required
      />
    </div>
    <div class="form-group">
      <label for="buyPrice">Buyed Price:</label>
      <input
        type="number"
        class="form-control"
        id="buyPrice"
        name="buyPrice"
        required
      />
    </div>
    <div class="form-group">
      <label for="sellingPrice">Selling Price:</label>
      <input
        type="number"
        class="form-control"
        id="sellingPrice"
        name="sellingPrice"
        required
      />
    </div>
    <div class="form-group">
      <label for="sellingPrice">Offered Price:</label>
      <input
        type="number"
        class="form-control"
        id="offeredprice"
        name="offeredprice"
        required
      />
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
        rows="4"
        required
      ></textarea>
    </div>
    <div class="form-group">
      <label for="description">Upload image:</label>
      <br />
      <input type="file" name="image" accept="image/*" required />
    </div>
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        id="flexSwitchCheckDefault"
        name="trendingProduct"
      />
      <label class="form-check-label" for="flexSwitchCheckDefault">Add to
        trending Products</label>
    </div>
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        id="flexSwitchCheckChecked"
        name="featuredProduct"
      />
      <label class="form-check-label" for="flexSwitchCheckChecked">Add to
        featured product</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
