<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto">
        <ul class="list-inline menu" >
          <li class="list-inline-item mx-5">DashBoard</li>
          <li class="list-inline-item mx-5">
            <div class="dropdown show">
              <a
                class="btn btn-secondary dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Product Category
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/admin">Product</a>
                <a class="dropdown-item" href="/admin/viewcategory">Category</a>
                <a class="dropdown-item" href="/admin/subcategory">Sub Category</a>
              </div>
            </div>
          </li>
          <li class="list-inline-item mx-5">Orders</li>
          <li class="list-inline-item mx-5">Users</li>
          <li class="list-inline-item mx-5">Offers</li>
        </ul>
      </div>
    </div>
  </div>
</section>
