<div class="sidebar mt-3">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link admin-slider-a" href="#">Dashboard</a>
    </li>
    <li class="nav-item">
     
      <a class="nav-link admin-slider-a" data-toggle="collapse" href="#productSubMenu" role="button" aria-expanded="false" aria-controls="collapseExample">
 Product Management
  </a>
    
      <div id="productSubMenu" class="collapse">
        <ul class="sub-menu list-unstyled">
          <li ><a class ="ml-4 nav-link admin-slider-a"href="/admin/viewproducts"> Products</a></li>
          <li><a class ="ml-4 nav-link admin-slider-a"href="/admin/viewcategory">Category</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link admin-slider-a" href="/admin/viewusers">User Management</a>
    </li>
      <li class="nav-item">
      <a class="nav-link admin-slider-a" href="/admin/vieworders">Order Mangement</a>
    </li>
    <li class="nav-item">
      <a class="nav-link admin-slider-a" href="#Offerzone" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Offers</a>
      <div id="Offerzone" class="collapse">
        <ul class="sub-menu list-unstyled">
          <li ><a class ="ml-4 nav-link admin-slider-a"href="/admin/offers/coupon">Coupon</a></li>
          <li><a class ="ml-4 nav-link admin-slider-a"href="/admin/offers/offer">Offer</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
