
<div class="sidebar mt-3 ">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link admin-slider-a" style="color: #ffff;" href="/admin/">Dashboard</a>
    </li>
    <li class="nav-item">
     
      <a class="nav-link admin-slider-a" style="color: #ffff;"  data-toggle="collapse" href="#productSubMenu" role="button" aria-expanded="false" aria-controls="collapseExample">
 Product Management
  </a>
    
      <div id="productSubMenu" class="collapse">
        <ul class="sub-menu list-unstyled">
          <li ><a class ="ml-4 nav-link admin-slider-a"href="/admin/viewproducts" style="color: #ffff;"> Products</a></li>
          <li><a class ="ml-4 nav-link admin-slider-a"href="/admin/viewcategory" style="color: #ffff;">Category</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link admin-slider-a" href="/admin/viewusers" style="color: #ffff;">User Management</a>
    </li>
      <li class="nav-item">
      <a class="nav-link admin-slider-a" href="/admin/vieworders" style="color: #ffff;">Order Mangement</a>
    </li>
    <li class="nav-item">
      <a class="nav-link admin-slider-a" href="#Offerzone" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample" style="color: #ffff;">Offers</a>
      <div id="Offerzone" class="collapse">
        <ul class="sub-menu list-unstyled">
          <li ><a class ="ml-4 nav-link admin-slider-a"href="/admin/offers/coupon" style="color: #ffff;">Coupon</a></li>
          <li><a class ="ml-4 nav-link admin-slider-a"href="/admin/offers/offer" style="color: #ffff;">Category Offer</a></li>
            <li><a class ="ml-4 nav-link admin-slider-a"href="/admin/offers/productoffer" style="color: #ffff;">Product Offer</a></li>
          <li><a class ="ml-4 nav-link admin-slider-a"href="/admin/offers/referaloffer" style="color: #ffff;">Referal offer</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link admin-slider-a" href="/admin/banner" style="color: #ffff;">Banner</a>
    </li>
  </ul>
</div>
