<section>
<header  style="background-color: #363657";>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a id ="adminheader"class="navbar-brand ml-3 " style="color: #ffff;" href="#">Melocia</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><form action="/admin/logout" method="get">
                <button  type="submit" class="btn btn mr-2" style="color: #ffff;">Log out</button>
              </form></li>
    </ul>
  </div>
</nav>
</header>
</section>
