<style>
  .custom-input-width {
    width: 10px; 
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header" style="background-color:#FFFFFF;">
          <h5>Product Details</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img
                src="product-image.jpg"
                alt="Product Image"
                class="img-fluid"
              />
            </div>
            <div class="col-md-8">
              <h6>Product Name</h6>
              <p>Brand</p>
              <h6>Price</h6>
              <div class="input-group">
                <div class="input-group-prepend">
                  <button
                    class="btn btn-outline-secondary btn-lg"
                    type="button"
                  >-</button>
                </div>
                <input
                  type="number"
                  class="form-control form-control-lg custom-input-width"
                  value="1"
                  min="1"
                  max="100"
                  style="width: 20px;"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary btn-lg"
                    type="button"
                  >+</button>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img
                src="product-image.jpg"
                alt="Product Image"
                class="img-fluid"
              />
            </div>
            <div class="col-md-8">
              <h6>Product Name</h6>
              <p>Brand</p>
              <h6>Price</h6>
              <div class="input-group">
                <div class="input-group-prepend">
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                  >-</button>
                </div>
                <input type="text" class="form-control" value="1" />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                  >+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img
                src="product-image.jpg"
                alt="Product Image"
                class="img-fluid"
              />
            </div>
            <div class="col-md-8">
              <h6>Product Name</h6>
              <p>Brand</p>
              <h6>Price</h6>
              <div class="input-group">
                <div class="input-group-prepend">
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                  >-</button>
                </div>
                <input type="text" class="form-control" value="1" />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                  >+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img
                src="product-image.jpg"
                alt="Product Image"
                class="img-fluid"
              />
            </div>
            <div class="col-md-8">
              <h6>Product Name</h6>
              <p>Brand</p>
              <h6>Price</h6>
              <div class="input-group">
                <div class="input-group-prepend">
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                  >-</button>
                </div>
                <input type="text" class="form-control" value="1" />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                  >+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header" style="background-color:#FFFFFF;">
          <h5>Price Details</h5>
        </div>
        <div class="card-body">
          <h6>Price Total: $100</h6>
          <h6>Discount: $10</h6>
          <h6>Delivery Charge: $5</h6>
          <h5>Total Amount: $95</h5>
        </div>
        <div class="card-footer text-center" style="background-color:#FFFFFF;">
          <button class="btn btn-primary">Place Order</button>
        </div>
      </div>
    </div>
  </div>
</div>