<div class="card text-center">
  <div class=" p-4 m-auto" style="width: 200px; height: 200px;">
    <i class="checkmark" style="color: #9ABC66; font-size: 100px; line-height: 200px;"></i>
  </div>
  <h1 class="text-success font-weight-bold mt-4">Success</h1>
  <p class="text-dark">We received your purchase request;<br/>we'll be in touch shortly!</p>
</div>
