<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary bg-transparent border-0"
  data-toggle="modal"
  data-target="#exampleModalCenter"
>
  Launch demo modal
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <div class="container-fluid">
          <div class="row">
            <div class="col-3" style="background-color: blue;">
              <h1>
                Login
              </h1>
              <br />
              <h2>
                Get Access to your
                <br />
                Orders, Wishlist and
                <br />
                Recommendations
              </h2>

            </div>
            <div class="col-6">

              <form>
                <div class="row">
                  <div class="col">
                    <label for="phone">Enter your phone number:</label>
                    <input
                      type="tel"
                      id="phone"
                      name="phone"
                      pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
                    />
                  </div>

                  <br />
                  <br />
                  <h6>
                    By continuing, you agree to Melocia's Terms of Use and
                    Privacy Policy
                  </h6>
                </div>
                <button type="button" class="btn btn-warning">Login</button>
              </form>

            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>