<div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card mx-3 my-3">
          <div class="card-body">
            <h1>
              <img
                class="img-fluid"
                src="\images\profile-pic-male_4811a1.svg"
                alt="First slide"
              />
              Hello
            </h1>
          </div>
        </div>
        <div class="card mx-3 my-3">
          <div class="card-body">
            <a href="">My Accounts</a>
            <ul style="list-style-type: none;">
              <li>
                <a href="/myaccount/address">Address</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card mx-3 my-3">
          <div class="card-body">
            <a href="/orders">My orders</a>
          </div>
        </div>
        <div class="card mx-3 my-3">
          <div class="card-body">
            <a href="/wallet">Wallets</a>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <!-- Other data on the right side -->

    <div class="card">
      <div class="card-body">
        <h5 class="card-title" style="color: blue;">Wallet Balance <span class="float-right" style="font-size: 1rem;">Refer More Earn More</span></h5>
        <p class="card-text" style="color: green;">₹ <span>{{walletBalance}}</span></p>
      </div>
    </div>
    <br>

    
    <h5>List of Referrals:</h5>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Mobile Number</th>
        </tr>
      </thead>
      <tbody>
        {{#each details}}
        <tr>
          <td>{{matchingDocuments.name}}</td>
          <td>{{matchingDocuments.phone}}</td>
          
        </tr>
        {{/each}}
      </tbody>
    </table>
      </div>
    </div>
  </div>